/TestData/
/Videos/MasterDarkMaker Video Stage/
/Videos/Graphics/Fake CR Hit.psd
/Videos/MasterFlatMaker Video Stage/
/Videos/MasterFlatMaker Video Stage/030- Raw Flat Files Luminance/
/Videos/MasterFlatMaker Video Stage/040- MasterFlatMaker.app/
/Videos/MasterFlatMaker Video Stage/050- Master Files Output/
/Videos/MasterFlatMaker Video Stage/070- Different sizes, filters, and temperatures/
/Videos/MasterFlatMaker Video Stage/080-  Incomplete Set/
/Videos/MasterFlatMaker Video Stage/100- Calibration Library/
/Videos/MasterFlatMaker Video Stage/110- Command Line/
/Videos/MasterFlatMaker Video Stage/cmdLineOutput/
/Videos/MasterFlatMaker Video Stage/010- manual.pdf
/Videos/MasterFlatMaker Video Stage/020- Sample Flat File.fit
/Videos/MasterFlatMaker Video Stage/060- Hilighted-CR-Hit.png
/Videos/MasterFlatMaker Video Stage/090- DARK file 5 seconds 1x1.fit
